<div class="desktop" fxLayout="row wrap" fxLayoutGap="18px">
  <div class="grid-item">
    <h4>New User Form</h4>
    <div class="form mat-elevation-z8">
      <diV>
        <mat-form-field appearance="standard">
          <mat-label>First Name</mat-label>
          <input matInput [(ngModel)]="firstName" lastName="firstName" />
        </mat-form-field>
      </diV>
      <div>
        <mat-form-field appearance="standard">
          <mat-label>Last Name</mat-label>
          <input matInput [(ngModel)]="lastName" lastName="lastName" />
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="standard">
          <mat-label>Email</mat-label>
          <input matInput [(ngModel)]="email" lastName="email" />
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="standard">
          <mat-label>Phone</mat-label>
          <input matInput [(ngModel)]="phone" lastName="phone" />
        </mat-form-field>
      </div>
      <div class="row" fxLayoutGap="8px">
        <button mat-raised-button color="accent" (click)="onAddUser()">
          Save
        </button>
        <button mat-raised-button color="primary" (click)="onCancel()">
          Cancel
        </button>
      </div>
    </div>
  </div>
  <!-- end of form  -->
  <div class="grid-item">
    <h4>User List</h4>
    <mat-list>
      <div mat-subheader>Users</div>
      <mat-list-item *ngFor="let user of dataSource">
        <mat-icon mat-list-icon>people</mat-icon>
        <div mat-line style="color: 'blue'"></div>
        <div mat-line>{{ user.firstName }} {{ user.lastName }}</div>
        <div mat-line>{{ user.email }}</div>
        <div mat-line>1+{{ user.phone }}</div>
      </mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>
  </div>

  <div class="grid-item">
    <h4>User Table</h4>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

      <!-- firstName Column -->
      <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef>Fist Name</th>
        <td mat-cell *matCellDef="let element">{{ element.firstName }}</td>
      </ng-container>

      <!-- lastName Column -->
      <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef>Last Name</th>
        <td mat-cell *matCellDef="let element">{{ element.lastName }}</td>
      </ng-container>

      <!-- email Column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>Email</th>
        <td mat-cell *matCellDef="let element">{{ element.email }}</td>
      </ng-container>

      <!-- phone Column -->
      <ng-container matColumnDef="phone">
        <th mat-header-cell *matHeaderCellDef>Phone</th>
        <td mat-cell *matCellDef="let element">{{ element.phone }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</div>
