
/* responsive areas */
.desktop {
  padding: 10px;
}

.grid-item {
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  padding: 10px;
  min-width: 300px;
  max-height: 1000px;
  margin: 5px;
}

 /* various items */
 table {
  width: 100%;
  background-color: white;
}

.form {
  padding: 18px
}
